/* .container{
    text-align: center;
}
.buttons{
    border: none;
    padding: 15px 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.541);
    border-radius: 8px;
    background-color: rgba(245, 222, 179, 0.856);
    color: rgb(0, 0, 0);
    margin: 3px;
} */
body{
    font-family: sans-serif;
}


.January{
    text-align: center;
}